/* 公共部分 */
/* .Abody 部分 */
.Abody .el-button{
  border-radius:8px;
  padding:9px 22px;
}
.Abody .el-button el-button--primary{ 
  border-radius:8px;
  padding:9px 22px;
  font-size:16px;
}
/* 公用 表格 表头 th */
/* 放款信息 信审审结论轨迹  */
/* .FinanceInformation .el-table__header-wrapper tr{
height: 40px;
}
.FinanceInformation .el-table .cell{
      line-height: 23px;
} */

.FinanceInformation .el-table .cell,
.ApprovalConclusion .el-table .cell 
  {
  line-height: 23px;
  text-align: center;
}
.FinanceInformation .el-table,
.ApprovalConclusion .el-table
{
  font-size: 13px;
}
.FinanceInformation .el-table__header-wrapper tr ,
.ApprovalConclusion .el-table__header-wrapper tr 
{
  height: 40px;
}
.FinanceInformation .el-table__body-wrapper tr ,
.ApprovalConclusion .el-table__body-wrapper tr 
{
  height: 35px;
}


/* 实地征信 折叠面板头部背景色 */

.creditInvestigation .el-collapse-item__header{
    background:#eef0f9;
    border:1px solid #e6eaee;
    /* border-radius:23px; */
    width:100%;
    height:38px;
  }
.creditInvestigation .el-collapse-item__header{
  line-height: 38px;
}
.creditInvestigation .el-collapse-item__arrow{
  line-height: 38px;
   /* padding: 16px 16px 0 0; */
   margin-right: 12px;
}

/*实地征信 字体颜色 */
.creditInvestigation .el-collapse-item__content{
  color: #475669;
  font-size: 14px;
}
/*申请信息 折叠面板头部背景色 */
.applicationInformationDetail .el-collapse-item__header{
    background:#eef0f9;
    border:1px solid #e6eaee;
    /* border-radius:23px; */
    width:100%;
    height:38px;
  }
.applicationInformationDetail .el-collapse-item__header{
  line-height: 38px;
}
.applicationInformationDetail .el-collapse-item__arrow{
  line-height: 38px;
   padding: 16px 16px 0 0;
}

/*申请信息 表格 */
.applicationInformationDetail .el-table th{
  text-align: center;
  font-weight: 400;
  color: #878d99;
  font-size: 13px;
}
.applicationInformationDetail .el-table__body-wrapper .el-table__body td{
  text-align: center;
  font-weight: 400;
  color: #5a5e66;
  font-size: 13px;
}
/*申请信息 表格去掉overflow:hidden; */
.applicationInformationDetail .el-collapse-item__wrap{
  overflow: inherit;
}
/*申请信息详情 字体颜色 */
.applicationInformationDetail .el-collapse-item__content{
  color: #475669;
  font-size: 14px;
}
/*借款人资料 折叠面板头部背景色 */
.borrowerInformation .el-collapse-item__header{
    background:#eef0f9;
    border:1px solid #e6eaee;
    /* border-radius:23px; */
    width:100%;
    height:38px;
  }
.borrowerInformation .el-collapse-item__header{
  line-height: 38px;
  overflow:hidden;
}
.borrowerInformation .el-collapse-item__arrow{
  line-height: 38px;
  margin-right: 12px;
  /* padding: 16px 16px 0 0; */
}

.borrowerInformation .el-collapse-item__wrap{
  clear: both;
  border-bottom: none;
}
/* 借款人资料input框 */
.borrowerInformation .el-input {
  width: auto;
}
.borrowerInformation .el-input__inner {
  height: 35px;
  border-radius: 6px;
  width: 258px;
}
/* 借款人资料表格内容居中 */
.borrowerInformation .el-table th{
  text-align: center;
  font-weight: 400;
  color: #878d99;
  font-size: 13px;
}
.borrowerInformation .el-table__body-wrapper .el-table__body td{
  text-align: center;
  font-weight: 400;
  color: #5a5e66;
  font-size: 13px;
}
.borrowerInformation ol.num li:nth-of-type(1) .el-input__inner{
    margin-top: -10px;
    position: relative;
  }
.zhengxunbaogao ol:nth-of-type(1) li:nth-of-type(2) .el-select{
    width: 258px;
  }
.zhengxunbaogao ol:nth-of-type(1) li:nth-of-type(2) .el-select>.el-input{
    width: 258px;
  }
/*借款人资料 字体颜色 */
.borrowerInformation .el-collapse-item__content{
  color: #475669;
  font-size: 14px;
}

/*借款人资料详情 折叠面板头部背景色 */
.borrowerInformationSetail .el-collapse-item__header{
    background:#eef0f9;
    border:1px solid #e6eaee;
    /* border-radius:23px; */
    width:100%;
    height:38px;
}
.borrowerInformationSetail .el-collapse-item__header{
    line-height: 38px;
    overflow:hidden;
}
.borrowerInformationSetail .el-collapse-item__arrow{
    line-height: 38px;
    margin-right: 12px;
    /* padding: 16px 16px 0 0; */
}
.borrowerInformationSetail .el-collapse-item__content{
    font-size: 14px;
    color: #475669;
}
.borrowerInformationSetail .el-collapse-item__wrap{
    clear: both;
    border-bottom: none;
}
/* 借款人资料input框 */
.borrowerInformationSetail .el-input {
  width: auto;
}
.borrowerInformationSetail .el-input__inner {
  height: 35px;
  border-radius: 6px;
  width: 180px;
}


/* 各自部分 */


/* 工作台部分修改 */

/* .workbench .el-icon-arrow-right:before {
  content: "";
} */
/* 工作台 折叠面板 头部 箭头 */
.workbench .el-collapse-item__header .el-collapse-item__arrow {
  line-height: 40px;
  margin-top: 4px;
}
/* 工作台 折叠面板 下面 content部分 */
.workbench .el-collapse-item__wrap{
  border:1px solid #D5D5D5;
  width:100%;
}
/* 工作台 - 刷新（refresh）- 按钮  */
.workbench .el-icon-refresh{
  float: right;
  margin-right:20px;
  line-height: 48px;
}
/* 工作通知 下边距 */
.workbench .el-collapse{
  margin-bottom: 10px;
}
/* 工作通知title颜色 */
.workbench .el-collapse-item__header{
  /* background: #f5f7fa; */
  background: white;
  border: 1px solid #D5D5D5;
  height: 48px;
  line-height: 48px;
  font-size: 15.5px;
  color: #173a56;
  font-weight: bold;
  padding-left: 10px;
}
/* 工通知内容设置内边距 */
.workbench .el-collapse-item__content{
 padding: 10px;
 /* margin-bottom: 10px; */
 height: 38.8vh;
}

/* 代办任务下面div高度   #f3f3f3  */ 
.workbench .main_right_task .el-collapse-item__content{
  height: 84vh;
  overflow: auto;
}
/* 待办任务下面 table 表头颜色 */
.workbench .el-collapse-item__content .el-table__header-wrapper tr{
  background: #f3f3f3; 
}
/* 分屏 */
.SplitScreen .AudioVisual_wrap_compare .el-icon-close{
  position: absolute;
  color: white;
  font-size: 30px;
  right: 10px;
  top: 10px; 
  z-index: 99;
}

/* 信审表 */

/* 解决测试环境宽高不生效问题 */
.CreditForm .el-input {
  display: inline-block;
  width: 180px;
  height: 36px;
/* 改后 */
  /* width:258px; */
  /* height:50px */
}
/* 解决第一次进来input有外边框加粗 radius+4 的问题 */
.CreditForm .el-input__inner{
  border:1px solid rgb(229,229,229) ;
  border-radius: 4px;
  height: 36px;
  /* 改后 */
  /* border-radius:6px;
  width:258px;
  height:50px */
}
/* 信审表 ----各个  title 一行 */
.CreditForm .el-collapse-item__header {
  border: 1px solid silver;
  background:#eef0f9;
  border:1px solid #e6eaee;
  font-size:16px;
  color:#1f2d3d;
  padding-left: 50px;
}
/* 信审表 ----各个  title 小帽子部分 */
.CreditForm .el-collapse-item{
position: relative
}
/* .CreditForm .el-collapse-item is-active{
  position: relative
  
} */
/* 信审表-上网查询信息-文本域部分 */

.CreditForm .CreditForm_InternetInf_ul_right .el-textarea,
.CreditForm .CreditForm_CheckId_ul_right .el-textarea {
  width: 45%;
}

.CreditForm .CreditForm_result .el-textarea {
  width: 700px;
}


/* 信审表-上网查询信息-textarea部分 */

.CreditForm .CreditForm_InternetInf_ul_right .el-textarea__inner {
  padding: 2px 15px;
  margin-top: 3.5px;
  width: 400px;
}


/* 信审表-核实身份-textarea部分 */

.CreditForm .CreditForm_CheckId_ul_right .el-textarea__inner {
  padding: 2px 15px;
  margin-top: 3.5px;
}

/* 信审表-工作信息-单位地址-input框 */
.CreditForm .company_address_select .el-input{
 width:120px;
}

/* 信审表-工作信息+私营企业信息-单位地址-第四个地址详情input框 */
.CreditForm .company_address_select .el-input:nth-of-type(4){
  width:258px;
 }
/* 信审表-工作信息+私营企业信息-入职时间-日历图标位置 */ 
.CreditForm .el-input__icon{
  line-height: 30px;
}
/* 信审表-工作信息-入职时间-日期选择器宽度 */
 .CreditForm .el-date-editor.el-input{
   width:180px;
 }
/* 影音列表----缩略图按钮 */
/*   */
/* 影音资料-左侧列表 */

.AudioVisual .el-collapse-item__header,
.AudioVisualLeft .el-collapse-item__header {
  height: 35px;
  line-height: 35px;
  background: #eeeFFF;
  padding:0;
}
/* 影音列表-对比弹出层-右侧-折叠面板-title */
.AudioVisual .posiiiii .el-collapse-item__header,
.AudioVisualLeft .posiiiii .el-collapse-item__header{
  padding:0 10px;
}
/* 影音列表-左侧列表-title表头  */

.AudioVisual .el-collapse-item__header p span,
.AudioVisualLeft .el-collapse-item__header p span {
  display: block;
  float: left;
  border: 1px solid #e6ebf5;
  /* border-top: none; */
  border-bottom: none;
  text-align: center;
  font-size: 13px;
 background: white;
}

.AudioVisual .el-collapse-item__header p span:nth-of-type(1),
.AudioVisualLeft  .el-collapse-item__header p span:nth-of-type(1)
 {
  width: 135px;
  color:#0077ff;
}
.AudioVisualLeft  .el-collapse-item__header p span:nth-of-type(1){
  width: 125px;
  color:#0077ff;
}
.AudioVisual .el-collapse-item__header p span:nth-of-type(2){
  width: 60px;
  border-right: none;
  border-left: none;
}

.AudioVisualLeft .el-collapse-item__header p span:nth-of-type(2) {
  width:76px;
  border-right: none;
  border-left: none;
}
.AudioVisual .el-collapse-item__header p span:nth-of-type(3){
  width: 60px;
}

.AudioVisual .el-collapse-item__header p span:nth-of-type(4){
  width: 144px;
  border-left: none;
}

/* 影音列表-左侧列表-折叠小箭头 */

.AudioVisual .el-collapse-item__header .el-collapse-item__arrow,
.AudioVisualLeft .el-collapse-item__header .el-collapse-item__arrow{
  /* line-height: 30px; */
  display: none;
}

/* 影音列表-左侧列表--内容title-最外侧包裹层 */

.AudioVisual .el-collapse-item__wrap,.AudioVisualLeft .el-collapse-item__wrap {
  width: 100%;
  color: #666666;
  background: #f8f9fd;
}


/* 影音列表-左侧列表--内容下边距 */

.AudioVisual .AudioVisual_wrap_compare_right .el-collapse-item__content,
.AudioVisualLeft .AudioVisual_wrap_compare_right .el-collapse-item__content {
  padding-bottom: 0;
}
.AudioVisualLeft .posi .el-collapse-item__content,
.MatchingInf .posi .el-collapse-item__content{
  /* background: red; */
  height: 355px;
}
/* 影音列表- 对比弹出层-select-搜索框-wrap */
.SplitScreen .AudioVisual_wrap_compare_right .el-select>.el-input,
.SplitScreen .AudioVisual_wrap_compare_right .el-input__inner,
.MatchingInf .AudioVisual_wrap_compare_right .el-select>.el-input,
.MatchingInf .AudioVisual_wrap_compare_right .el-input__inner {
  display: inline-block;
  width:260px;
  height:35px
}
/* 借款人资料表格内容居中 */
.borrowerInformationSetail .el-table th{
  text-align: center;
  font-weight: 400;
  color: #878d99;
  font-size: 13px;
}
.borrowerInformationSetail .el-table__body-wrapper .el-table__body td{
  text-align: center;
  font-weight: 400;
  color: #5a5e66;
  font-size: 13px;
}
/* 借款人资料 */

.borrowerInformation .el-table__body-wrapper .el-select>.el-input .el-input__inner {
   border: none;
}
.borrowerInformation .containDiv .el-table__body-wrapper tbody tr td:nth-of-type(2) .el-select {
  width: 150px;
}
.borrowerInformation .containDiv .el-table__body-wrapper tbody tr td:nth-of-type(2) .el-select>.el-input {
  width: 150px;
}
.borrowerInformation .el-table__body-wrapper .el-input{
  width: 120px;
}
.borrowerInformation .el-table__body-wrapper .el-input .el-input__inner{
  border: none;
}
.borrowerInformation .containDiv .el-table__body-wrapper tbody tr td:nth-of-type(6) .el-input{
  width: 180px;
}

.borrowerInformation .el-select>.el-input {
  width: 130px;
}

/* 车辆信息 时间 */
.borrowerInformation .carContain .el-table__body-wrapper tbody tr td:last-child .el-input {
  width: 140px;
}
/* 信用卡使用明细 时间 */
.borrowerInformation .cardContain .el-table__body-wrapper tbody tr td:nth-of-type(3) .el-input {
  width: 140px;
}
.borrowerInformation .cardContain .el-table__body-wrapper tbody tr td:nth-of-type(6) .el-input {
  width: 140px;
}
/* 贷款明细 时间 */
.borrowerInformation .loanContain .el-table__body-wrapper tbody tr td:nth-of-type(6) .el-input {
  width: 140px;
}
.borrowerInformation .loanContain .el-table__body-wrapper tbody tr td:nth-of-type(7) .el-input {
  width: 140px;
}
.borrowerInformation .loanContain .el-table__body-wrapper tbody tr td:nth-of-type(9) .el-input {
  width: 140px;
}
.borrowerInformation .loanContain .el-table__body-wrapper tbody tr td:nth-of-type(14) .el-input {
  width: 140px;
}
/* 征询报告 */


/* 申请信息 */

.applicationInformation .el-collapse-item__content {
  padding-bottom: 0;
}
.applicationInformation .el-input{
  width: 180px;
}
.applicationInformation .el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 180px;
  border-radius: 4px;
}
.applicationInformation .el-input__inner {
  height: 30px;
  border-radius: 4px;
}

/* 下拉框禁用背景色 */

.applicationInformation .el-input.is-disabled .el-input__inner {
  background-color: #fff;
}

.applicationInformation .layer .el-table__body-wrapper{
  height: 206px;
  overflow-x: hidden;
}
.applicationInformation .detialLog .el-table__body-wrapper{
  height: 306px;
  overflow-x: hidden;
}
.applicationInformation .el-pagination{
  text-align: center;
  margin-top: 10px;
}
/* 申请信息 下拉框禁用背景色 */
.applicationInformation .el-input.is-disabled .el-input__inner{
    background-color: #fff;
}

/* 备注信息表格内容居中 */
.remark .el-table th{
  text-align: center;
  font-weight: 400;
  color: #878d99;
  font-size: 13px;
}
.remark .el-table__body-wrapper .el-table__body td{
  text-align: center;
  font-weight: 400;
  color: #5a5e66;
  font-size: 13px;
}
/* 备注信息表格内容居中 */
.remarkDetial .el-table th{
  text-align: center;
  font-weight: 400;
  color: #878d99;
  font-size: 13px;
}
.remarkDetial .el-table__body-wrapper .el-table__body td{
  text-align: center;
  font-weight: 400;
  color: #5a5e66;
  font-size: 13px;
}


/* 信审任务列表 */
.taskWinput .el-input {
  width: auto;
}
.taskWinput .el-input__inner {
  height: 35px;
  border-radius: 6px;
  width: 258px;
}
.taskWatting .el-table__header-wrapper tr{
  background-color: #fff;
}
.taskWatting .el-table th{
  text-align: center;
  font-weight: 400;
  color: #878d99;
  font-size: 13px;
}
.taskWatting .el-table__body-wrapper .el-table__body td{
  text-align: center;
  font-weight: 400;
  color: #5a5e66;
  font-size: 13px;
}
/* 信审任务列表 按钮宽度*/
.taskWatting .el-col-22{
  width: calc( 66.6% + 394px );
}
/* 信审任务列表 分页去掉浮动*/
.taskWatting li.el-select-dropdown__item,
.CreditForm .el-select-dropdown__item{
  float: none;
}
/* 信审表div content 外wrap */
.CreditForm .el-collapse-item__wrap{
  padding: 15px 0 10px 0;
}
/* 信审表--清除li受影响的float:left */
/* .CreditForm .el-select-dropdown__item{

} */
/* 工作台导航 */
.mheader .el-menu{
  background-color: transparent;
}
.mheader .el-submenu__title{
  font-size:15px;
  color:#bfcbd9;
  margin-right:39px;
  height: 60px;
  line-height: 60px;
}
.mheader .el-menu .el-submenu__title:hover{
  background-color: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.mheader .el-menu .el-submenu .el-submenu__icon-arrow{
  display: none;
}
/* 二级 */
.mheader .el-menu .el-menu{
  z-index: 10000;
  background:#1f2d3d;
  box-shadow:0 10px 20px 0 #475669;
  opacity:0.41;
  margin-top: 10px;
}
.mheader .el-menu .el-menu .el-submenu__title:hover{
  background-color: transparent;
  border-bottom: none;
  color: #fff;
}
/* .mheader .el-menu .el-submenu__title:active{
  background:#1f2d3d;
  box-shadow:0 10px 20px 0 #475669;
  opacity:0.41;
  border-bottom: 2px solid #fff;
} */
.mheader .el-menu .el-menu .el-submenu__title{
  font-size:14px;
  color:#bfcbd9;
  padding-left: 10px !important;
  height: 25px;
  line-height: 25px;
  padding-right: 10px;
}

.mheader .el-menu .el-menu .el-menu-item{
  font-size:14px;
  color:#bfcbd9;
  padding-left: 10px !important;
  height: 25px;
  line-height: 25px;
  padding-right: 10px;
  min-width: 0;
  width: auto;
}
.mheader .el-menu .el-menu .el-menu-item:hover{
  background-color: transparent;
  border-bottom: none;
  color: #fff;
} 
/*二级li加绝对定位 */
.mheader .el-menu .el-menu .el-submenu{
  position: relative;
}
/*二级三角样式设置 */
.mheader .el-menu .el-menu .el-submenu .el-submenu__icon-arrow{
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #bfcbd9;
  border-bottom: 5px solid transparent;
  margin-top:-4px;
  margin-right: -40px;
  -webkit-transform:rotateZ(0deg);
  transform:rotateZ(0deg);
}
/*二级三角before样式设置 */
.mheader .el-menu .el-menu .el-submenu .el-submenu__icon-arrow:before{
  display: none;
}
/* 三级 */
.mheader .el-menu .el-menu .el-menu{
  z-index: 10000;
  opacity:1;
  background:#1f2d3d;
  box-shadow:0 10px 20px 0 #475669;
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: 0px;
}

.mheader .el-menu .el-submenu.is-opened .el-submenu__title{
  opacity:0.41;
  background:#1f2d3d;
  box-shadow:0 10px 20px 0 #475669; 
  border-bottom:2px solid #fff;
  color: #fff;
}
.mheader .el-menu .el-menu .el-submenu .el-submenu__title{
  border-bottom:none;
  opacity:0.41;
  background:none;
  box-shadow:0 0px 0px 0 #475669; 
  color: none;
}
