/* 公共部分 */


/* 普通input的宽度 */

.el-input {
  /* 设置el-input div 的元素属性 */
  display: inline-block;
  width: 180px;
}

/* .el-input {
  display: inline-block;
} */
.el-input__inner {
  height: 30px;
}


/* button按钮 */

.el-button {
  height: 36px;
}


/* 表格行高 */

.el-table .cell {
  line-height: 40px;
}


/* 表头颜色 */

.el-table__header-wrapper tr {
  background-color: #f5f7fa;
  color: #1f2d3d;
  text-align: center;
}


/* 字体图标颜色大小 */

.icon {
  color: #20a0ff;
  font-size: 20px;
}


/* 表格内容居中 */

.el-table th,
td {
  text-align: center;
}

.el-table td,
.el-table th {
  padding: 0;
}
/* 折叠面板头部背景色 */
.el-collapse-item__header{
    background-color: #ccc;
    font-size: 14px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}
.el-collapse-item__header .el-collapse-item__arrow{
    line-height: 40px;
}


/* 各自部分 */


/* 工作台部分修改 */

.workbench .el-icon-arrow-right:before {
  content: "";
}

.workbench .el-collapse-item.is-active .el-collapse-item__header {
  border-bottom-color: #eee;
}

/* th */
.el-table td, .el-table th{
    padding: 0;
}

/* 信审表 */

.CreditForm .el-collapse-item__header {
  border: 1px solid silver;
  background: #20a0ff;
}


/* 信审表-上网查询信息-文本域部分 */

.CreditForm .CreditForm_InternetInf_ul_right .el-textarea,
.CreditForm .CreditForm_CheckId_ul_right  .el-textarea {
  width: 45%;
}
.CreditForm .CreditForm_result .el-textarea {
  width:700px;
}
/* 信审表-上网查询信息-textarea部分 */
.CreditForm .CreditForm_InternetInf_ul_right .el-textarea__inner{
  padding:2px 15px;
  margin-top:3.5px;
  width:400px;
}


/* 借款人资料 */
.borrowerInformation .el-select{
    width: 130px;
}
.borrowerInformation .el-select>.el-input{
    width: 130px;
}
/* 申请信息 */
.applicationInformation .el-collapse-item__content{
    padding-bottom: 0;
}
/* 下拉框禁用背景色 */
.applicationInformation .el-input.is-disabled .el-input__inner{
    background-color: #fff;
}
/* 信审表-核实身份-textarea部分 */
.CreditForm .CreditForm_CheckId_ul_right .el-textarea__inner{
  padding:2px 15px;
  margin-top:3.5px;
}
/* 影音资料-左侧列表 */
.AudioVisual .el-collapse-item__header{
  height:30px;
  line-height: 30px;
  background: #eeeFFF;
}
/* 影音列表-左侧列表-title  */
.AudioVisual .el-collapse-item__header p span{
 padding:5px 10px;
 border-right:1px solid #e6ebf5;
}
/* 影音列表-左侧列表-折叠小箭头 */
.AudioVisual .el-collapse-item__arrow{
  line-height: 34px;
}
/* 影音列表-左侧列表--title-最外侧包裹层 */
.el-collapse-item__wrap{
width: 100%;
}

