/* 公共部分 */


/* 普通input的宽度 */

.el-input {
  /* 设置el-input div 的元素属性 */
  display: inline-block;
  width: 180px;
}


.el-input__inner {
  height: 30px;
}


/* button按钮 */

.el-button {
  height: 36px;
}


/* 表格行高-----未生效---需要用的话单独设一下 */

.el-table .cell {
  line-height: 40px;
}
/* 表格------未生效---需要用的话单独设一下*/

.el-table td,
.el-table th {
  padding: 0;
}

/* 表头颜色 */

.el-table__header-wrapper tr {
  background-color: #f5f7fa;
  color: #1f2d3d;
  text-align: center;
}
/* 表格内容居中 */

.el-table th,
td {
  text-align: center;
}

/* 字体图标颜色大小 */

.icon {
  color: #20a0ff;
  font-size: 20px;
}





/* 折叠面板头部背景色 */

/* .el-collapse-item__header {
  background-color: #ccc;
  font-size: 14px;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
} */

.el-collapse-item__header .el-collapse-item__arrow {
  line-height: 40px;
  margin-top: 4px;
  
}

/* 各自部分 */


/* 工作台部分修改 */

/* .workbench .el-icon-arrow-right:before {
  content: "";
} */
/* 工作台 折叠面板 头部 箭头 */
.workbench .el-collapse-item__header .el-collapse-item__arrow {
  line-height: 40px;
  margin-top: 4px;
}
/* 工作台 折叠面板 下面 content部分 */
.workbench .el-collapse-item__wrap{
  border:1px solid #D5D5D5;
}
/* 工作台 - 刷新（refresh）- 按钮  */
.workbench .el-icon-refresh{
  margin-left: 335px;
}
/* 工作通知 下边距 */
.workbench .el-collapse{
  margin-bottom: 10px;
}
/* 工作通知title颜色 */
.workbench .el-collapse-item__header{
  /* background: #f5f7fa; */
  background: white;
  border: 1px solid #D5D5D5;
  height: 48px;
  line-height: 48px;
  font-size: 15.5px;
  color: #173a56;
  font-weight: bold;
  padding-left: 10px;
}
/* 工通知内容设置内边距 */
.workbench .el-collapse-item__content{
 padding: 10px;
 /* margin-bottom: 10px; */
 height: 38.8vh;
}

/* 代办任务下面div高度   #f3f3f3  */ 
.workbench .main_right_task .el-collapse-item__content{
  height: 84vh;
  overflow: auto;
}
/* 待办任务下面 table 表头颜色 */
.workbench .el-collapse-item__content .el-table__header-wrapper tr{
  background: #f3f3f3; 
}
/* 分屏 */
.SplitScreen .AudioVisual_wrap_compare .el-icon-close{
  position: absolute;
  color: white;
  font-size: 30px;
  right: 10px;
  top: 10px; 
  z-index: 99;
}

/* 信审表 */

/* 解决测试环境宽高不生效问题 */
.CreditForm .el-input {
  display: inline-block;
  width: 180px;
  height: 36px;
/* 改后 */
  /* width:258px; */
  /* height:50px */
}
/* 解决第一次进来input有外边框加粗 radius+4 的问题 */
.CreditForm .el-input__inner{
  border:1px solid rgb(229,229,229) ;
  border-radius: 4px;
  height: 36px;
  /* 改后 */
  /* border-radius:6px;
  width:258px;
  height:50px */
}
.CreditForm .el-collapse-item__header {
  border: 1px solid silver;
  background: #20a0ff;
}


/* 信审表-上网查询信息-文本域部分 */

.CreditForm .CreditForm_InternetInf_ul_right .el-textarea,
.CreditForm .CreditForm_CheckId_ul_right .el-textarea {
  width: 45%;
}

.CreditForm .CreditForm_result .el-textarea {
  width: 700px;
}


/* 信审表-上网查询信息-textarea部分 */

.CreditForm .CreditForm_InternetInf_ul_right .el-textarea__inner {
  padding: 2px 15px;
  margin-top: 3.5px;
  width: 400px;
}


/* 信审表-核实身份-textarea部分 */

.CreditForm .CreditForm_CheckId_ul_right .el-textarea__inner {
  padding: 2px 15px;
  margin-top: 3.5px;
}

/* 信审表-工作信息-单位地址-input框 */
.CreditForm .company_address_select .el-input{
 width:120px;
}

/* 信审表-工作信息+私营企业信息-单位地址-第四个地址详情input框 */
.CreditForm .company_address_select .el-input:nth-of-type(4){
  width:258px;
 }
/* 信审表-工作信息+私营企业信息-入职时间-日历图标位置 */ 
.CreditForm .el-input__icon{
  line-height: 30px;
}
/* 信审表-工作信息-入职时间-日期选择器宽度 */
 .CreditForm .el-date-editor.el-input{
   width:180px;
 }

/* 影音资料-左侧列表 */

.AudioVisual .el-collapse-item__header {
  height: 30px;
  line-height: 30px;
  background: #eeeFFF;
  padding:0;
}

/* 影音列表-左侧列表-title表头  */

.AudioVisual .el-collapse-item__header p span {
  /* padding:5px 10px; */
  display: inline-block;
  border-right: 1px solid #e6ebf5;
  text-align: center;
}

.AudioVisual .el-collapse-item__header p span:nth-of-type(1) {
  width: 30%;
}

.AudioVisual .el-collapse-item__header p span:nth-of-type(2) {
  width: 20%;
  /* border-right:none; */
  /* border-left:none; */
}

.AudioVisual .el-collapse-item__header p span:nth-of-type(3) {
  width: 20%;
}

.AudioVisual .el-collapse-item__header p span:nth-of-type(4) {
  width: 20%;
  /* border-left:none; */
}

/* 影音列表-左侧列表-折叠小箭头 */

.AudioVisual .el-collapse-item__header .el-collapse-item__arrow{
  line-height: 30px;
  /* display: none; */
}

/* 影音列表-左侧列表--内容title-最外侧包裹层 */

.AudioVisual .el-collapse-item__wrap {
  width: 100%;
}


/* 影音列表-左侧列表--内容下边距 */

.AudioVisual .AudioVisual_wrap_compare_right .el-collapse-item__content {
  padding-bottom: 0;
}
/* 影音列表-弹出层-select-搜索框 */
.SplitScreen .AudioVisual_wrap_compare_right .el-select>.el-input {
  display: inline-block;
  /* width: 180px;
  height: 36px; */
/* 改后 */
  width:258px;
  height:50px
}

.SplitScreen .AudioVisual_wrap_compare_right .el-input__inner{
  width:258px;
  height:50px
}



/* 借款人资料 */

.borrowerInformation .el-select {
  width: 130px;
}

.borrowerInformation .el-select>.el-input {
  width: 130px;
}
.borrowerInformation .el-input{
  width: 180px;
}
.borrowerInformation .el-input__inner {
  height: 30px;
  border: 1px solid rgb(229,229,229);
  border-radius: 4px;
}


/* 申请信息 */

.applicationInformation .el-collapse-item__content {
  padding-bottom: 0;
}
.applicationInformation .el-input{
  width: 180px;
}
.applicationInformation .el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 180px;
  border: 1px solid rgb(229,229,229);
  border-radius: 4px;
}
.applicationInformation .el-input__inner {
  height: 30px;
  border: 1px solid rgb(229,229,229);
  border-radius: 4px;
}

/* 下拉框禁用背景色 */

.applicationInformation .el-input.is-disabled .el-input__inner {
  background-color: #fff;
}

.applicationInformation .layer .el-table__body-wrapper{
  height: 206px;
  overflow-x: hidden;
}
.applicationInformation .detialLog .el-table__body-wrapper{
  height: 306px;
  overflow-x: hidden;
}
.applicationInformation .el-pagination{
  text-align: center;
  margin-top: 10px;
}
/* 申请信息 下拉框禁用背景色 */
.applicationInformation .el-input.is-disabled .el-input__inner{
    background-color: #fff;
}
/* 备注信息 隐藏掉 '暂无数据'' */
/* .remark .el-table__body-wrapper,.remark .is-scroll-left{
  display: none;
} */
/* 信审任务列表 */
.taskWinput .el-input__inner {
  height: 30px;
  border: 1px solid rgb(229,229,229);
  border-radius: 4px;
}